.App {
  font-family: "Poppins", monospace;
  text-align: center;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.key-code {
  box-shadow: 0 0 10px rgb(245, 245, 245);
  width: 400px;
  padding: 3rem 1rem;
  word-spacing: 0.4rem;
  letter-spacing: 0.2rem;
  font-size: 4rem;
  font-weight: bolder;
  background: linear-gradient(to right, #30cfd0 0%, #330867 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-radius: 0.55rem;
}

.heading {
  font-size: large;
  letter-spacing: 0.1rem;
}
